@page "/VidPage1"
@page "/"

<h3>VidPage1</h3>




<br />

<div style="background-color:red">
    <h3>
        Meow is a sound used by kittens.
        While Dogs use woof as their sound.
    </h3>
</div>








@code {

}
